html.dark {
    /* 自定义深色背景颜色 */
    --el-navbar-bg-color: #141414;
    --el-navbar-color: #f5f5f5;
    --el-navbar-after: #007678;
    --el-navbar-hover-color: #525252;
    --el-container-bg-color: #2a2a2a;
}